  .card {
    width: 307px;
    height: 500px;
    position: relative;
  }
  
  .card img {
    border-radius: 8px;
    width: 100%;
    height: 500px;
  }
    
  .card-bottom {
    background-color: #181717;
    color: white;
    padding-left: 10px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    
  }

  .card img:hover  + .card-bottom {
    opacity: 1;
    cursor: pointer;
  } 

  .card .card-bottom:hover {
    opacity: 1;
  }


  .about-movie {
    display: flex;
    align-items: center;
  }

  .about-movie > h4 {
    margin-right: 14px;
    padding-bottom: 20px;
  }

  .movie-likes {
    color: lime;
  }

  .dot-div {
    border: solid 1px #777474;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    display: flex;
    align-items: center;
    background-color: #777589;
    margin-bottom: 15px;
  }

  .card-2 {
    width: 260px;
    height: 150px;
    position: relative;
  }

  .card-2 img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
  }

  .card-2-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #181717;
    padding-left: 10px;
    opacity: 0;
  
  }

  .card-2 img:hover  + .card-2-bottom {
    opacity: 1;
    cursor: pointer;
  } 

  .card-2 .card-2-bottom:hover {
    opacity: 1;
  }



    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
/*     
        .card {
        border: solid 1px #ccc;
        height: 350px;
        width: 250px;
        position: relative;
        box-sizing: border-box;
    }

    .card > img {
        height: 175px;
        width: 100%;
    }

    .card-footer {
        height: 50%;
        padding: 20px;
    }

    section {
        display: flex;
        overflow: auto;
        overflow-x: scroll;
    } */