@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body, *{
    /* background: #000; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }

  .hero-image {
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/header.jpg");
  }

  .nav-bar-image {
      height: 80px;
  }

  .nav-bar {
      display: flex;
      
      height: 10vh;
      background-color: black;

  }

  .nav-bar> ul {
      list-style: none;
      display: flex;
      
  }

   .nav-bar-links{
     text-decoration: none;
     color: #ffffff;
     margin-right: 40PX;
     

   } 

   .nav-bar-image {
     height: 130px;
     padding-bottom: 50px;
   }

   .form-wrapper {
     padding-left: 100px;
     display: flex;
     
   }

   .search-foam {
     width: 80px
   }