@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body, *{
    

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif; 
    font-family: 'Roboto', sans-serif;
    
  }

  body {
      overflow-x: hidden;
      scroll-behavior: smooth;
  } 

  .hero-image {
    background: url("../images/header.jpg");
    height: 96vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header {
      color: white;
  }

  .hero-paragraph {
      padding-top: 20px;
  }

  .nav-img {
      height: 70px;
      padding-right: 35px;
      padding-left: 40px;
  }


  .nav-bar {
      display: flex;
      align-items: center;
      height: 9vh;
      background-color: rgb(19, 18, 18);
  } 


    .nav-bar ul {
        list-style: none;
        display: flex;
        padding-right: 20px; 
    }

    .nav-bar li {
        padding-right: 20px;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
    }

    @media screen and (max-width: 750px) {
        .nav-bar li {
            padding-right: 0px;
            float: left;
        }
    }

    @media screen and (max-width: 750px) {
           .nav-wrapper {
               
               float: left  ;
           }
    }



    .netflix-logo-container {
        display: flex;
        flex-direction: row;      
    }

    .netflix-logo-container > h4{
        padding-top: 8px;
        font-size: 10px;
        letter-spacing: 2px;
        padding-left: 4px;
        font-weight: bold;

    }

    .netflix-logo {
        width: 12px;  
        
    }

    .batgirl {
        width: 250px;
        padding-bottom: 14px;

    }

    .hero-text {
        padding-top: 150px;
        padding-left: 40px;
    
    }

    .search-tab {
        padding-left: 400px;
        justify-content: center;
        align-items: center;
    }

    .division {
        display: flex;
    }

    .card img {
        width: 45vh;
        border-radius: 8px;
        padding-right: 6px;
    }
/* 
    .card {
        transition: all 0.45s;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-duration: 0.45s;
        
    }

    .card :hover {
        width: 50vh;
    } */

    .netflix-popular{
        background: #141414;
        overflow: hidden;
        overflow-x: scroll;
        padding-top: 40px;
        padding-left: 45px;
    }

    .netflix-popular::-webkit-scrollbar{
        height: 1px;
    }

    .netflix-popular > h1{
        color: white;
        padding-bottom: 20px;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 800;
    }

    .movie-details > ul {
        display: flex;
        list-style: none;
    }
    
    .movie-details li {
        padding-right: 8px;
    }

    .details > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: none;
        border: solid 1px white;
        color: white;
    }
/* 
    .card-bottom {
        background-color: darkgrey;
        position:absolute;
        
    }

    .details {
        position: absolute;
        display: flex;
    }

    .movie-details {
        position: relative;
    } */

    /* .icons {
        color: white;
        border: solid 1px white;
        border-radius: 30px;
        padding: 12px;
    }  */

    

